* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  /* margin-top: 40px; */
  /* margin-left: 122px; */
  justify-content: center;
  align-items: center;
  /* border: 4px solid rgb(114, 108, 108); */
  position: sticky;
  top: 0;
  height: 110px;
  background-color: white;
}
.navbar ul {
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 4px solid black; */
  width: 100%;
}

.navbar ul li {
  list-style: none;
  /* padding: 4px; */
}
.navbar ul li a {
  text-decoration: none;
  list-style: none;
  margin: 16px;
  color: black;
  /* margin-top: 8px; */
  font-size: 20px;
  font-family: "ZCOOL XiaoWei", serif;
  /* padding: 4px; */
  position: relative;
  /* border: 2px solid rgb(211, 20, 169); */
}
.navbar ul li a:after {
  content: "";
  position: absolute;
  background-color: #ce7011;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
.navbar a:hover:after {
  width: 100%;
}
.navbar ul li a:hover {
  background: #f4ece6;
  color: black;
  /* border: 2px solid blue; */
  border-radius: 5px;
  border: 1px solid black;
}
.nav_phone {
  display: none;
}
#fixed_underline::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: red;
  left: 0;
  bottom: -7px;
  animation: underline_appear 1s linear;
}
@keyframes underline_appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.logo {
  /* border: 5px solid red; */
  display: flex;
  width: 100%;
  /* border: 4px solid yellow; */
  /* position: sticky; */
}
.logo img {
  width: 102px;
  height: 80px;
  /* border: 5px solid blue; */
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 1px;
  /* position: sticky; */
}
/* .vertical_line {
        border-left: 3px solid #b51d82;
        border-radius: 5px 57px 84px 4px;
        height: 40px;
        margin-top: 46px;
        margin-right: 13px;
      } */
.web_name {
  /* border: 2px solid blue;  */
  height: 40px;
  margin-top: 29px;
  /* margin-bottom: 0px; */
  width: 125px;
  margin-left: 0px;
  font-size: 28px;
  font-family: "Reggae One", cursive;
  color: #2e5f8a;
  border-bottom: 5px dotted #8007868a;
}

.web_name a {
  text-decoration: none;
}
.web_name a:hover {
  color: #ce7011;
}
.projects_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  /* border: 2px solid red; */
  /* margin-top: 15px; */
  background-color: #58797c;
}
.project {
  border: 1px dashed black;
  padding: 30px;
  margin: 20px;
  background-color: #7c8f8b;
}
.project_heading {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "ZCOOL XiaoWei", serif;
  color: #3d4387;
}

.know_more_project {
  width: 85.88px;
  height: 27.6px;
  border: 1px dashed #0e0b0b;
  background-color: rgb(147 149 129);
  cursor: pointer;
}
.know_more_project:hover {
  background-color: #424984;
  color: #f9f0f9;
  border: 1px dashed #15d7ec;
}
.proj_intro {
  margin-bottom: 20px;
  font-family: "Padauk", sans-serif;
  color: black;
}
.footer-bottom {
  height: 86px;
  width: 100%;
  /* border: 4px solid red; 
        background: yellow; */
  margin-top: 11px;
  display: flex;
  /* position: absolute; */
  /* bottom: 5px; */
}
.left_footer-bottom {
  width: 15%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* border: 2px solid red; */
  font-family: "Germania One", cursive;
}
.right_footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
  width: 24%;
  /* border: 3px solid grey; */
  margin-left: 837px;
  height: 67px;
  margin-top: 15px;
  justify-content: space-between;
}
.call span {
  text-decoration: none;
  color: Black;
  height: 53px;
  width: 53px;
  border-radius: 11px;
  margin-left: 23px;
}
.mail span {
  text-decoration: none;
  color: black;
  height: 53px;
  width: 53px;
  border-radius: 11px;
  margin-left: 52px;
}

/* .first_right_footer-bottom {
          width: 52%;
          height: 100px;
          margin-left: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid blue;
        } */
.mail {
  /* margin-left: 61px; */
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.call {
  /* border: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .call div {
          margin-top: 10px;
          border: 3px solid purple;
        }
        .mail div {
          margin-top: 10px;
          border: 3px solid yellow;
        } */

/* .second_right_footer-bottom {
          width: 30%;
          height: 100px;
          margin-left: 30px;
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 2px solid black;
          margin-left: -41px;
        } */
.Social_media_img_footer_bottom {
  width: 25px;
  height: 25px;

  object-fit: cover;
  /* margin-left: 100px; */
  margin: 5px;
  /* border: 1px solid red; */
  transition: all 0.5s ease-in-out;
}
.Social_media_img_footer_bottom:hover {
  transform: scale(2);
  border-radius: 4px;
  /* border: 1px solid blue; */
  /* background-color: purple; */
}
#callimage img {
  width: 25px;
  height: 25px;

  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
#callimage:hover {
  transform: scale(1.3);
  border-radius: 4px;
}
#mailimage img {
  width: 25px;
  height: 25px;

  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
#mailimage:hover {
  transform: scale(1.5);
  border-radius: 4px;
}

#callme {
  margin-bottom: -25px;
  margin-left: 0px;

  font-family: "Walter Turncoat", cursive;
}
#mailme {
  margin-bottom: -25px;
  margin-left: 0px;

  font-family: "Walter Turncoat", cursive;
}
#followme {
  display: flex;
  justify-content: center;

  font-family: "Walter Turncoat", cursive;
}

/**
    *!media query
    **/

/**
    *!media query for NAVBAR section
    **/

@media only screen and (max-width: 759px) {
  .line-1 {
    width: 30px;
    height: 3px;
    background-color: blue;
    margin: 5px;
  }
  .line-2 {
    width: 20px;
    height: 3px;
    background-color: blue;
    margin: 5px;
  }
  .line-3 {
    width: 10px;
    height: 3px;
    background-color: blue;
    margin: 5px;
  }
  .nav_phone {
    position: absolute;
    right: 30px;
    top: 50%;
    cursor: pointer;
    z-index: 2;
    display: block;
    cursor: pointer;
    /* border: 4px solid red; */
  }
  .navmenu {
    position: fixed;
    bottom: -100%;
    height: 100%;
    bottom: 0;
    opacity: 0;

    flex-direction: column;
    background-color: #f4ece6;
    width: 100%;

    text-align: center;
    transition: 0.3s;
  }
  .navbar ul {
    justify-content: start;
    width: 0;
    height: 0px;
    margin-top: 0;
    opacity: 2;
  }
  .navbar ul li {
    margin: 20px;
    /* opacity: 0; */
  }
  .navmenu.active_nav_phone {
    top: 88px;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: -18px;
    /* border: 8px solid yellow; */
    border-radius: 15px;
    opacity: 2;
    left: 0px;
    color: blue;
  }
  .animation_nav_phone_lines .line-1 {
    width: 25px;
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #000000;
  }
  .animation_nav_phone_lines .line-2 {
    opacity: 0;
  }
  .animation_nav_phone_lines .line-3 {
    width: 25px;
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #000000;
  }
  .navbar ul li a {
    color: blue;
    font-size: 32px;
  }
  .y {
    opacity: 0;
    height: 0;
    width: 0;
  }
}

@media only screen and (min-width: 0px) and (max-width: 813px) {
  .logo img {
    width: 67px;
    margin-bottom: 0px;
    margin-top: -2px;
    display: flex;
    align-items: flex-start;
    object-fit: cover;
    object-position: -2px 6px;
    /* background-color: black; */
    height: 69px;
  }
  .web_name {
    height: 36px;
    margin-top: 9px;
    width: 125px;
    margin-left: 13px;
    font-size: 26px;
  }
}
@media only screen and (min-width: 759px) and (max-width: 813px) {
  .logo img {
    width: 67px;
    margin-bottom: 0px;
    margin-top: -19px;
    display: flex;
    align-items: flex-start;
    object-fit: cover;
    object-position: -2px 6px;
    /* background-color: black; */
    height: 69px;
    margin-left: 14px;
  }
  .navbar ul li a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 759px) {
  .web_name {
    margin-top: 27px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 981px) {
  .navbar {
    height: 110px;
  }
}
@media only screen and (min-width: 813px) and (max-width: 981px) {
  .web_name {
    height: 36px;
    margin-top: 23px;
    width: 125px;
    margin-left: -1px;
    font-size: 28px;
  }
  .logo img {
    margin-top: -9px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  .web_name {
    height: 36px;
    margin-top: 23px;
    width: 108px;
    margin-left: 9px;
    font-size: 24px;
    line-height: 2;
  }

  .logo img {
    margin-top: 5px;
    height: 56px;
    width: 60px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
  .web_name {
    height: 36px;
    margin-top: 23px;
    width: 103px;
    margin-left: 3px;
    font-size: 22px;
    margin-bottom: -21px;
    line-height: 2;
  }

  .logo img {
    margin-top: 6px;
    height: 52px;
    width: 61px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 300px) and (max-width: 350px) {
  .web_name {
    height: 36px;
    margin-top: 30px;
    width: 89px;
    margin-left: -3px;
    font-size: 20px;
    padding-bottom: -93px;
    margin-bottom: 0;
    line-height: 2;
  }

  .logo img {
    margin-top: 17px;
    height: 47px;
    width: 57px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 0px) and (max-width: 300px) {
  .web_name {
    height: 32px;
    margin-top: 29px;
    width: 89px;
    margin-left: 0px;
    font-size: 19px;
    padding-bottom: -93px;
    margin-bottom: 0;
    line-height: 2;
  }

  .logo img {
    margin-top: 16px;
    height: 44px;
    width: 46px;
    object-fit: cover;
    margin-left: 2px;
  }
}

/**
          *!media query for FOTTER BOTTOM section
          **/

@media only screen and (max-width: 1298px) {
  .footer-bottom {
    /* margin-top: 19px; */
    /* flex-direction: column-reverse; */
    height: 89px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .left_footer-bottom {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .right_footer-bottom {
    /* margin-left: 322px; */

    width: 41%;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 698px) and (max-width: 959px) {
  .footer-bottom {
    /* flex-direction: column-reverse; */
    height: 89px;
  }
  .left_footer-bottom {
    justify-content: start;
    /* align-items: center; */
    margin-top: 37px;
  }
  .right_footer-bottom {
    /* height: 100px; */
    margin-top: 16px;
    width: 60%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 698px) {
  .footer-bottom {
    flex-direction: column-reverse;
    height: 130px;
  }
  .left_footer-bottom {
    justify-content: center;
    margin-top: 11px;
  }
  .right_footer-bottom {
    height: 100px;
    margin-top: 0;
    width: 45%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 613px) {
  .right_footer-bottom {
    width: 50%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 553px) {
  .right_footer-bottom {
    width: 55%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 549px) {
  .right_footer-bottom {
    width: 73%;
  }
  .footer-bottom {
    margin-top: 5px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 460px) {
  .right_footer-bottom {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 276px) {
  .footer-bottom {
    height: 203px;
    margin: 10px;
  }
  .right_footer-bottom {
    height: 200px;
    margin-top: -1px;
    flex-direction: column;
  }
  .left_footer-bottom {
    justify-content: start;
    margin-top: 57px;
    /* height: 116px; */
    text-align-last: left;
  }
  .social_media_fotter_bottom {
    margin-top: 9px;
    margin-left: -131px;
  }

  .call {
    margin-left: -224px;
    margin-top: 111px;
  }
  .mail {
    margin-right: 82px;
    margin-top: -56px;
  }
  #followme {
    margin-top: 13px;
    margin-left: -205px;
  }
}
@media only screen and (max-width: 251px) {
  body {
    opacity: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .footer-bottom {
    position: relative;
    margin-top: 30px;
  }
}
